
.scene {
    perspective: 1000px;
    margin: 150px auto;

}



.pirates {
    width: 180px;
    height: 240px;
    cursor: pointer;
    position: relative;
    transform-style: preserve-3d;
    margin-left: auto;
    margin-right: auto;
    transform-style: preserve-3d;
    transform-origin: center center;
    animation: roll 30s linear infinite;   
}

.luffy,.chopper,.sanji,.soge,.franky,.robin,.zoro,.nami {
    display: inline-block;
    top: 0;
    left: 0;
    width: inherit;
    height: inherit;
    position: absolute;
    border-radius: 4px;
    background-size: contain;
    background-repeat: no-repeat;

}
/*#centerlogo {

}*/
#logo {
    display: inline-block;
    width: 300px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    opacity: 0.8;
    left: 50%;

    transform: translate(-50%);
    /*移动对象自身的50%*/
    vertical-align:text-top;
    z-index: 1;
}

.pirates > div > img {
    
    width: 100%;
    height: 100%;
    display: block;
}


.pirates:hover {
    animation-play-state: paused;
}

.luffy {
      transform: rotateY(0deg) translateZ(350px);
}
.chopper {
      transform: rotateY(45deg) translateZ(350px);
}  
.sanji {
      transform: rotateY(90deg) translateZ(350px);
}
.soge {
      transform: rotateY(135deg) translateZ(350px);
}
.franky {
    transform: rotateY(180deg) translateZ(350px);
}  
.robin {
    transform: rotateY(225deg) translateZ(350px);
} 
.zoro {
    transform: rotateY(270deg) translateZ(350px);
} 
.nami {
    transform: rotateY(315deg) translateZ(350px);
} 



@keyframes roll {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

video#onevid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(one.png) no-repeat;
    background-size: cover;
}